{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block css %}
	<link rel="stylesheet" href='{% static "css/preloader.css" %}'>
{% endblock %}
{% block content %}
<div class="container" id="book-container" style="padding-left: 3px";>
  <h3>Add your book:</h3>
  {% crispy form %}
</div>
<div class="spinner"></div>
{% endblock %}
{% block javascript %}
<script>
	$(function() {
		$("input.typeahead").typeahead({
				onSelect: function(id) {
					$.ajax({
						url: "/searchperid",
						method: "GET",
						data: {'id': id.value},
						success: function(response) {
							$("#book-container").append("<hr>");
							$("#book-container").append("<img src='' class='center' id='cover'>");
							$("#id_author").val(response.author);
							$("#id_pages").val(response.pages);
							$("#id_language").val(response.language);
							$("#cover").attr("src",response.img_src);
						},
						error: function() {
							alert('Error!');
						}
				    });
				},
				ajax: {
						url: "/searchjson",
						timeout: 500,
						displayField: "title",
						triggerLength: 4,
						method: "get",
						valueField: "id",
						loadingClass: "loading-circle",
						}
		});


		jQuery.ajaxSetup({
			beforeSend: function() {
				$('#book-container').preloader({
					text:'',
					percent:'',
					duration:'',
					zIndex:'',
					setRelative:false
				});
			},
			complete: function() {
				$('#book-container').preloader('remove');
			}
		});

	})

// TODO:
// SPINNER, AUTHOR, LANGUAGE, CRISPY HTML FIELD,

</script>
{% endblock %}