{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-3">
			<div class="card">
				  <img class="card-img-top" src="..." alt="Card image cap">
				  <div class="card-block">
				  	<h4 class="card-title"> title</h4> 
				    <p class="card-text">simple text</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				  <div class="list-group list-group-flush">
				  	<li class="list-group-item">Author</li>
				    <li class="list-group-item">Pages</li>
				    <li class="list-group-item">Stock</li>
				  </ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}