{% extends 'base.html' %}
{% load account %}
{% block content %}
<div class="jumbotron">
      <div class="container">
        {% if user.is_authenticated %}
          <h1>Welcome, {{ user }}!</h1>
          <p></p>
        {% else %}
          <h1>Welcome!</h1>
          <p>This is a webpage where you can loan books, have fun!</p>
          <a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Sign up</a>
        {% endif %} 
        <p><a class="btn btn-primary btn-lg" href="{% url 'books:booklist' %}" role="button">Go to bookstore &raquo;</a></p>
        {% if user.is_staff %}
        <p><a class="btn btn-primary btn-lg" href="{% url 'books:userlist' %}" role="button">Users &raquo;</a></p>
        {% endif %}
      </div>
    </div>
{% endblock %}